<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">Library System</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:fragment="layout(pageTitle, content)">
    <div class="page-container">
        <div sec:authorize="hasAnyRole('ADMIN', 'STAFF')" th:replace="~{/fragments/admin-sidebar :: sidebar}"></div>
        <div sec:authorize="hasRole('USER')" th:replace="~{/fragments/user-sidebar :: sidebar}"></div>
        <div class="main-content" th:insert="${content}"></div>
    </div>
</div>
</body>
</html>